[project]
name = "ezmsg-learn"
description = "ezmsg namespace package for machine learning"
readme = "README.md"
authors = [
    { name = "Chadwick Boulay", email = "chadwick.boulay@gmail.com" }
]
license = "MIT"
requires-python = ">=3.10.15"
dynamic = ["version"]
dependencies = [
    "ezmsg-baseproc>=1.3.0",
    "ezmsg-sigproc>=2.15.0",
    "river>=0.22.0",
    "scikit-learn>=1.6.0",
    "torch>=2.6.0",
]

[dependency-groups]
dev = [
  {include-group = "lint"},
  {include-group = "test"},
  "pre-commit>=4.3.0",
]
lint = [
    "ruff>=0.12.9",
]
test = [
    "ezmsg-simbiophys>=1.0.0",
    "hmmlearn>=0.3.3",
    "pytest>=8.4.1",
]
docs = [
    "sphinx>=8.1.3",
    "pydata-sphinx-theme",
    "sphinx_autodoc_typehints>=3.0.0",
    "sphinx_copybutton",
]

[build-system]
requires = ["hatchling", "hatch-vcs"]
build-backend = "hatchling.build"

[tool.hatch.version]
source = "vcs"

[tool.hatch.build.hooks.vcs]
version-file = "src/ezmsg/learn/__version__.py"

[tool.hatch.build.targets.wheel]
packages = ["src/ezmsg"]

[tool.pytest.ini_options]
asyncio_mode = "auto"
asyncio_default_fixture_loop_scope = "function"
pythonpath = [
    "src",
    ".",
]

[tool.ruff]
line-length = 120
target-version = "py310"
# Exclude auto-generated files
exclude = ["*/__version__.py"]

[tool.ruff.lint]
select = ["E", "F", "I", "W"]

[tool.ruff.lint.isort]
known-first-party = ["ezmsg.learn"]
known-third-party = ["ezmsg", "ezmsg.baseproc", "ezmsg.sigproc"]

[tool.uv.sources]
# Uncomment to use development version of ezmsg from git
#ezmsg = { git = "https://github.com/ezmsg-org/ezmsg.git", branch = "feature/profiling" }
#ezmsg-sigproc = { path = "../ezmsg-sigproc", editable = true }